<nav class="navbar navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
          DRAMA STORE
          <span>Telegram Korean Drama</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <b class="navbold" onclick="opening('join')">Join Us Telegram</b> <br>
            <b class="navbold" onclick="opening('admin')">Contact Admin</b> <br>
            <b class="navbold" onclick="(opening('all'))">All Drama</b> <br>
            <b class="navbold" onclick="opening('new')">New Uploaded Episodes</b> <br>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control" type="search" placeholder="Go to search page . . ." aria-label="Search" onclick="opening('all')">
        </form>
      </div>
    </div>
  </nav>

  <script>
    function opening(e) {
      if(e == 'join') {
        window.open('tg://join?invite=mTx_t-6TBx9hNTc8', '_self')
      }
      else if(e == 'admin') {
        window.open('tg://resolve?domain=shemdoe', '_self')
      }
      else if (e == 'all') {
        window.open('/list/all', '_self')
      }
      else if (e == 'new') {
        window.open('/new/episodes', '_self')
      }
    }
  </script>