<script>
    const progCont = document.getElementById('progCont')
    const prog = document.getElementById('prog')
    const divButton = document.getElementById('divButton')

    function percentCounter() {
        let pcnt = 100
        let start = 0
        let mbs = '<%= episode.size %>'
        mbs = mbs.split(' MB')[0]
        let factor = Number(mbs)/100
        console.log(factor)
        let mbing = 0
        let counting = document.getElementById('counting')

        let interval = setInterval(() => {
            pcnt = pcnt - 1
            start = start + 1
            mbing = mbing + factor
            prog.innerText = pcnt + '%'
            prog.setAttribute('style', `width: ${pcnt}%;`)
            counting.innerText = `preparing the episode... ${mbing.toFixed(1)}/${mbs} MB`

            if (pcnt == 0) {
                clearInterval(interval)
                counting.innerText = 'episode is ready to download'
                counting.style.color = 'green'

                progCont.style.display = 'none'
                divButton.style.display = 'block'
            }
        }, 120)
    }
    percentCounter()

    function sendEpis() {
        let userId = '<%= user.userId %>'
        let epId = '<%= episode._id %>'
        let btn = document.getElementById('btnEp')
        let stts = document.getElementById('counting')
        let spinner = `<div class="spinner-border" role="status"><span class="visually-hidden">Loading...</span></div>`
        let orgHTML = `<i class="fa-solid fa-rotate-right"></i> REDOWNLOAD EPISODE (<%= episode.size %>)`

        let req = `/success/send/${epId}/${userId}`
        btn.innerHTML = spinner
        btn.style.backgroundColor = 'lightgray'
        btn.style.color = 'gray'
        stts.innerText = 'sending to telegram...'
        setTimeout(() => {
            window.open(`${req}`)
        }, 4000)

        setTimeout(() => {
            stts.innerText = '✅ sent - check your telegram inbox'
            btn.innerHTML = orgHTML
            btn.style.backgroundColor = 'green'
            btn.style.color = 'white'
        }, 18000)
    }

    function openSurvey() {
        let crakLink = `https://t.crsmc.link/153258/5630/0?survey_id=4163654&noredirect=true&c0=F1F1F1&c1=000000&c2=DB232C&c3=F1F1F1&c4=ffffff&c5=000000&c6=000000&c8=ffffff&c9=000000&c10=DB232C&c11=ffffff&c12=F1F1F1&c13={c13}&c14=000000&set=2|&title=Best%20Survey&bgImg=&lc0=DB232C&lc1=000000&logo={logo}&has-logo=1&zones=10584,15250,10587,15254,10585&custom1=789&custom2={transaction_id}&custom3=153258&custom6=42458&displaycomments={displaycomments}&footer=0&incentive_thumb={incentive_thumb}&incentive_text={incentive_text}&incentive_reward_thumb={incentive_reward_thumb}&logo_position=center&aff_sub=&img=&canva=2&aff_sub2=&aff_sub3=&aff_sub4=&aff_sub5=&source=&file_id=589639`
        window.open(crakLink)
    }
</script>