<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
        integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Maintenance</title>
    <style>
        div {
            width: 80%;
            margin: 32px auto;
        }

        .joinus {
            background-color: #1e90ff;
            color: white;
            border-radius: 4px;
            padding: 18px 4px;
            margin: 16px auto;
            width: 90%;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
        }

        .joinus sup {
            font-size: xx-small;
            font-weight: normal;
        }

        .joinus:hover,
        .joinus:active {
            background-color: black;
        }
    </style>
</head>

<body>
    <div>
        <h3>Website is in maintenance. We will be back soon...</h3>
        <p>
            We're currently performing updates to improve your experience. Our website will be back online shortly!
            <br><br>
            We apologize for any inconvenience this may cause and appreciate your patience. In the meantime, feel free
            to <b style="color: #1e90ff;" onclick="window.open('tg://join?invite=mTx_t-6TBx9hNTc8', '_self')">join our Telegram channel</b> below for the latest updates and support.
            <br><br>
            Thank you for your understanding! 🙇‍♂️
        </p>
        <div class="joinus" onclick="window.open('tg://join?invite=mTx_t-6TBx9hNTc8', '_self')">
            <i class="fa-brands fa-telegram"></i> JOIN US ON TELEGRAM <br>
            <sup>Download new korean series on Telegram</sup>
        </div>
    </div>

    <%- include('./Global/ads/vignette.ejs'); %>
</body>

</html>